<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @vendor.id %>
</p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Url:</b>
  <%= @vendor.url %>
</p>

<p>
  <b>Active:</b>
  <%= @vendor.active %>
</p>

<p>
  <b>Description:</b>
  <%= @vendor.description %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
