<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Url</th>
    <th>Active</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.id %></td>
    <td><%= vendor.name %></td>
    <td><%= vendor.url %></td>
    <td><%= vendor.active %></td>
    <td><%= vendor.description %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vendor', new_vendor_path %>
