<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @product.id %>
</p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Vendor:</b>
  <%= @product.vendor %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
